{% extends "core/base.html" %}

{% load static %}

{% block content %}
<!-- Services Section -->
<div class="container mt-5">
    <!-- Section Title -->
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <!-- Service Items -->
    <div class="row text-center text-white mb-5">
        <!-- SEO Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- Web Design Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- Web Development Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <!-- Android Service -->
        <div class="div col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h3>Android</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- IOS Service -->
        <div class="div col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            <h3>IOS</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- Advertising Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <!-- Logo Design Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- Hosting Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
        <!-- Support Service -->
        <div class="div col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sunt!</p>
        </div>
    </div>
</div>
{% endblock content %}
