<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "fees/css/style.css" %}">
    <title>{{title}}</title>
</head>
<body>
    <h1>Django Fees Page</h1>
    <h2>Fees Details - </h2>
    <p>Course Fees - {{cf}}</p>

    <img src="{% static "fees/images/fees.jpg" %}" alt="Django Fees Picture">

    <hr> <hr>

    <form action="">
        <input type="button" value="Click Me" onclick="disp()">
    </form>

    <script src="{% static "fees/js/script.js" %}"></script>
</body>
</html>